<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Academic Information Add</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />

  </head>

  <body>

    <div class="container bg-2 text-center">
  <h3> University Academic Information </h3>
    <form class="col-lg-12" action="{{url_for('saveuniversity')}}" method="POST">
    <div class="form-group">
      <label for="name">University Name:</label>
       <input class="form-control" id="uniname_text" name="uniname_text" type="text">
    </div>
    <div class="form-group">
      <label for="tweet">University Unicorn Level:</label>
       <input class="form-control" name="level_text" id="level_text" type="text">
    </div>

        <div class="form-group">
      <label for="tweet">University city id</label>
       <input class="form-control" name="unicity_id" id="unicity_id" type="text">
    </div>

        <div class="form-group">
      <label for="category">Scholarship Opportunity</label>
       <input class="form-control" name="scholarship_yn" id="scholarship_yn" type="text">
    </div>
        <div class="form-group">
      <label for="category">Research Area</label>
       <input class="form-control" name="research_text" id="research_text" type="text">
    </div>
        <div class="form-group">
      <label for="category">Research Budget</label>
       <input class="form-control" name="budget_text" id="budget_text" type="text">
    </div>
   <button type="submit" id="btn_sign" class="btn btn-default">Save</button>
   </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>

</html>