{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

  <head>
  <h3>Comments</h3>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
  </head>
  <body>
    <div class="container">
        <h2>COMMENT PANEL</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
		   <li role="presentation" class="active"><a href="{{ url_for('activities_panel') }}">Activities Panel</a></li>
           <li role="presentation" class="active"><a href="{{ url_for('comments_edit') }}">Add a New Comment</a></li>

          </ul>
        </nav>
      </div>

   <form action="{{ url_for('comments')}}" method = "post">
  <table id="CommentsTable" class="table">
	 <thead>
      <tr>
        <th>User Login Name</th>
        <th>Tweet</th>
        <th>Comment</th>
		<th>Date</th>
      </tr>
    </thead>
	<tbody>
		{% for user_logname, tweet_input, comment, date in comments_list %}
		<tr>
			<td class="CommentsTableItem">{{user_logname}}</td>
			<td class="CommentsTableItem">{{tweet_input}}</td>
			<td class="CommentsTableItem">{{comment}}</td>
			<td class="CommentsTableItem">{{date}}</td>
			<td class="CommentsTableItem"><a href="{{ url_for('comments_delete', deletecomment=user_logname) }}">Delete</a>
			<td class="CommentsTableItem"><a href="{{ url_for('comments_update', updatecomment=user_logname) }}">Update</a>
		</tr>
		{% endfor %}
		</tbody>
	</table>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
  </head>
  <body>



    </div> <!-- /container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>


{% endblock %}

