<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add Comment</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />

  </head>

  <body>

    <div class="container bg-2 text-center">
  <h3> Please Enter Comment Information</h3>
    <form class="col-lg-12" action="{{url_for('savecomment')}}" method="POST">
	
	<div class="form-group">
      <label for="category">User Name:</label>
      <input class="form-control" name="userlogname_text" id="userlogname_text" type="text">
    </div>
	
    <div class="form-group">
      <label for="name">Tweet No:</label>
	  <h4>You can reach tweet number from tweet page.</h4>            <li role="presentation" class="active"><a href="{{ url_for('tweets') }}">Tweets</a></li>
       <input class="form-control" id="tweetid_text" name="tweetid_text" type="text">
    </div>
	
	
    <div class="form-group">
      <label for="tweet">Comment for Tweet:</label>
      <input class="form-control" name="comment_text" id="comment_text" type="text">
    </div>

   <button type="submit" id="btn_sign" class="btn btn-default">Save</button>
   </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>

</html>