{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

  <head>
  <h3>Direct Messages</h3>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
  </head>
  <body>
    <div class="container">
        <h2>DM PANEL</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
		   <li role="presentation" class="active"><a href="{{ url_for('activities_panel') }}">Activities Panel</a></li>
           <li role="presentation" class="active"><a href="{{ url_for('directmessages_edit') }}">Send a Direct Message</a></li>

          </ul>
        </nav>
      </div>

   <form action="{{ url_for('directmessages')}}" method = "post">
  <table id="DMTable" class="table">
	 <thead>
      <tr>
        <th>User Login Name for Sender</th>
        <th>User Login Name for Receiver</th>
        <th>Message</th>
        <th>Subject</th>
		<th>Date</th>
      </tr>
    </thead>
	<tbody>
		{% for user_logname1, user_logname2, message,subject, date in directmessages_list %}
		<tr>
			<td class="DMTableItem">{{user_logname1}}</td>
			<td class="DMTableItem">{{user_logname2}}</td>
			<td class="DMTableItem">{{message}}</td>
			<td class="DMTableItem">{{subject}}</td>
			<td class="DMTableItem">{{date}}</td>
			<td class="DMTableItem"><a href="{{ url_for('directmessages_delete', deletedm=user_logname1) }}">Delete</a>
			<td class="DMTableItem"><a href="{{ url_for('directmessages_update', updatedm=user_logname1) }}">Update</a>
		</tr>
		{% endfor %}
		</tbody>
	</table>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
  </head>
  <body>



    </div> <!-- /container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>


{% endblock %}

