{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

  <head>
  <h3>Events</h3>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
  </head>
  <body>
    <div class="container">
        <h2>EVENT PANEL</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
		   <li role="presentation" class="active"><a href="{{ url_for('activities_panel') }}">Activities Panel</a></li>
           <li role="presentation" class="active"><a href="{{ url_for('events_edit') }}">Add a New Event</a></li>

          </ul>
        </nav>
      </div>

   <form action="{{ url_for('events')}}" method = "post">
  <table id="EventsTable" class="table">
	 <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Location</th>
        <th>Event Date</th>
		<th>Event Category</th>
      </tr>
    </thead>
	<tbody>
		{% for event_name, event_location, event_date, event_category in events_list %}
		<tr>
			<td class="EventsTableItem">{{event_name}}</td>
			<td class="EventsTableItem">{{event_location}}</td>
			<td class="EventsTableItem">{{event_date}}</td>
			<td class="EventsTableItem">{{event_category}}</td>
			<td class="EventsTableItem"><a href="{{ url_for('events_delete', deleteevent=event_name) }}">Delete</a>
			<td class="EventsTableItem"><a href="{{ url_for('events_update', updateevent=event_name) }}">Update</a>
		</tr>
		{% endfor %}
		</tbody>
	</table>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
  </head>
  <body>



    </div> <!-- /container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>


{% endblock %}

