<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Favorite Tweets</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />

  </head>

  <body>

    <div class="container bg-2 text-center">
  <h3>Please Enter Information</h3>
    <form class="col-lg-12" action="{{url_for('savefavoritestweet')}}" method="POST">
    <div class="form-group">
      <label for="name">User name:</label>
       <input class="form-control" id="fname_text" name="fname_text" type="text">
    </div>
    <div class="form-group">
      <label for="surname">Tweet</label>
       <input class="form-control" name="ftweet_text" id="ftweet_text" type="text">
    </div>
    <div class="form-group">
      <label for="email">Tweet Category</label>
      <input type="text" class="form-control" name="fcategory_text" id="fcategory_text">
    </div>
   <button type="submit" id="btn_sign" class="btn btn-default">Enter</button>
  </form>


</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

  </body>

</html>