{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
  </head>
  <body>
    <div class="container">
        <h2>Favorite Events</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
	       <li role="presentation" class="active"><a href="{{ url_for('favoritesPanel') }}">Favorites Panel</a></li>
           <li role="presentation" class="active"><a href="{{ url_for('favoriteEvents_edit') }}">New Favorite Event</a></li>
          </ul>
        </nav>
      </div>

   <form action="{{ url_for('favoriteEvents') }}" method = "post">
  <table id="favoriteEventsTable" class="table">
	 <thead>
      <tr>
		<th>Username</th>
        <th>Event Name</th>
        <th>Join Status</th>
      </tr>
    </thead>
	<tbody>
		{% for user_logname, event_name, join_status in favoriteEvents_list %}
		<tr>
			<td class="FavoritesTableItem">{{user_logname}}</td>
			<td class="FavoritesTableItem">{{event_name}}</td>
			<td class="FavoritesTableItem">{{join_status}}</td>
			<td class="FavoritesTableItem"><a href="{{ url_for('favoriteEvent_delete', deletefavoriteEvent=user_logname) }}">Delete</a>
			<td class="FavoritesTableItem"><a href="{{ url_for('favoriteEvent_update', updatefavoriteEvent=user_logname) }}">Update</a>
		</tr>
		{% endfor %}
		</tbody>
	</table>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
  </head>
  <body>



    </div> <!-- /container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>


{% endblock %}

