{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

  <head>
  <h3>MELİS GÜLENAY - 150120304</h3>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
  </head>
  <body>
    <div class="container">
        <h2>Profile</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
           <li role="presentation" class="active"><a href="{{ url_for('favorites_tweet_edit') }}">New User Favorite Tweet</a></li>
          </ul>
        </nav>
      </div>

   <form action="{{ url_for('favorites_tweet') }}" method = "post">
  <table id="favoritesTweetTable" class="table">
	 <thead>
      <tr>
        <th>User Login</th>
        <th>Tweet</th>
        <th>Category</th>
      </tr>
    </thead>
	<tbody>
		{% for user_loginname, tweet_input,tweet_category in favoritestweet_list %}
		<tr>
			<td class="FavoritesTweetTableItem">{{user_loginname}}</td>
			<td class="FavoritesTweetTableItem">{{tweet_input}}</td>
			<td class="FavoritesTweetTableItem">{{tweet_category}}</td>
			<td class="FavoritesTweetTableItem"><a href="{{ url_for('favorites_tweet_delete', deletefavoritestweet=user_loginname) }}">Delete</a>
			<td class="FavoritesTweetTableItem"><a href="{{ url_for('favorites_tweet_update', updatefavoritestweet=user_loginname) }}">Update</a>
		</tr>
		{% endfor %}
		</tbody>
	</table>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
  </head>
  <body>



    </div> <!-- /container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>


{% endblock %}

