{% extends "layout.html" %}
{% block title %}Movie List{% endblock %}
{% block content %}
    <h1>Movies</h1>
{% endblock %}

</head>
<body style="background-color:purple;">
<h1>Melis Gulenay</h1>
<br>
<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <td><h6>My Favorites</h6></td>
                <td><a><i class="icon-user"></i>4</a></td>
            </tr>
            <tr>
                <td><h6>    </h6></td>
                <td><a><i class="icon-user"></i>Pictures</a></td>
            </tr>
            <tr>
                <td><h6>    </h6></td>
                <td><a><i class="icon-user"></i>Friends</a></td>
            </tr>
            <tr>
                <td><h6>    </h6></td>
                <td><a><i class="icon-user"></i>Status</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>