{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
  </head>
  <body>
    <div class="container">
        <h2>Favorite Tags</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
	       <li role="presentation" class="active"><a href="{{ url_for('favoritesPanel') }}">Favorites Panel</a></li>
           <li role="presentation" class="active"><a href="{{ url_for('favoriteTags_edit') }}">New Favorite Tag</a></li>

          </ul>
        </nav>
      </div>

   <form action="{{ url_for('favoriteTags') }}" method = "post">
  <table id="favoriteTagsTable" class="table">
	 <thead>
      <tr>
		<th>Username</th>
        <th>Tag id</th>
        <th>Popularity of tag</th>
      </tr>
    </thead>
	<tbody>
		{% for user_loginname, tag_id, pop_tag in favoriteTag_list %}
		<tr>
			<td class="FavoritesTableItem">{{user_loginname}}</td>
			<td class="FavoritesTableItem">{{tag_id}}</td>
			<td class="FavoritesTableItem">{{pop_tag}}</td>
			<td class="FavoritesTableItem"><a href="{{ url_for('favoriteTag_delete', deletefavoriteTag=user_loginame) }}">Delete</a>
			<td class="FavoritesTableItem"><a href="{{ url_for('favoriteTag_update', updatefavoriteTag=pop_tag) }}">Update</a>
		</tr>
		{% endfor %}
		</tbody>
	</table>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
  </head>
  <body>



    </div> <!-- /container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>


{% endblock %}

