<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Followers Following Page</title>
<style>
    body{
        background-image: url("~/itucsdb1601/unicorn.jpg");
       
    }
    
</style>
</head>
<body>
<h1>Zeynep Oner</h1>
<h3>Student</h3>


<br>

<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <td><h6>Followers:</h6></td>
                <td><i class="icon-user"></i>4</a></td>
            </tr>
            <tr>

                <td><h6>    </h6></td>
                <td><i class="icon-user"></i>Ceyda Aladag</a></td>
            </tr>
            <tr>

                <td><h6>    </h6></td>
                <td><i class="icon-user"></i>Ozan Ozcan</a></td>
            </tr>
            <tr>

                <td><h6>    </h6></td>
                <td><i class="icon-user"></i>Songul Sarac</a></td>
            </tr>
   
                <td><h6>    </h6></td>
                <td><i class="icon-user"></i>Melis Gulenay</a></td>
            </tr>
            <tr>
                <td><h6>Following:</h6></td>
                <td><i class="icon-home"></i>1</td>
            </tr>

                <tr>
  
                <td><h6>    </h6></td>
                <td><i class="icon-home"></i>Turgut Uyar</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>