{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}




<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                <meta name="description" content="">
                    <meta name="author" content="">
                        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
                        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" /> -->
                        </head>


<body>
    <div class="container-fluid bg-1 text-center">
        <h1>Welcome to Unicorn!</h1>
        <img src="{{ url_for('static', filename='unicorn.png') }}" class="img-circle" alt="unicorn" width="100" height="100">
            </div>
    <form action="{{ url_for('insertM') }}" method="POST">
        <div class="container bg-2 text-center">
            <h3>Add</h3>
            <div class="form-group">
                <label for="pwd">Please enter an username:</label>
                <input class="form-control" name="follower_name_text" id="follower_name_text" type="name_text">
                    </div>
            
            
        </div>
        <button type="follow" id="btn_follow" class="btn btn-default">Follow</button>
        
    </form>
    
    
    <form action="{{ url_for('unfollowM') }}" method="POST">
        <div class="container bg-2 text-center">
            <h3>Remove</h3>
            <div class="form-group">
                <label for="pwd">Please enter an username:</label>
                <input class="form-control" name="follower_name_text" id="follower_name_text" type="name_text">
                    </div>
           
            
        </div>
        <button type="unfollow" id="btn_unfollow" class="btn btn-default">Unfollow</button>
        
    </form>
    
    <form action="{{ url_for('searchM') }}" method="POST">
        <div class="container bg-2 text-center">
            <h3>Search</h3>
            <div class="form-group">
                <label for="pwd">Please enter an username:</label>
                <input class="form-control" name="follower_name_text" id="follower_name_text" type="name_text" >
                    </div>
           
        </div>
        <button type="search" id="btn_unfollow" class="btn btn-default">Search</button>
        
    </form>
    
    
    <form action="{{ url_for('updateM') }}" method="POST">
        <div class="container bg-2 text-center">
            <h3>Update</h3>
            <div class="form-group">
                <label for="pwd">Please enter an username that you want to update:</label>
                <input class="form-control" name="follower_name_text" id="follower_name_text" type="name_text">
             
                        </div>

         <div class="form-group">
   	 <label for="ublock">Please choose a song to add to the playlist</label>
   	 <select class="form-control" name="song_name" id="block_type">
   	    <option>Murat Boz - Direniyorsun</option>
        <option>Cem Belevi - Alisamıyorum</option>
        <option>Emir - Bir Agla</option>
        <option>Aydın Kurtoglu - Yak</option>
        <option>Mustafa Ceceli - Hüsran</option>
        <option>Aleyna Tilki - Cevapsız Cinlama</option>
        <option>Drake - Feel No Ways</option>
        <option>G-Eazy - Drifting</option>
        <option>Wiz Khalifa - Material</option>
        <option>Tyga - Diced Pineapples</option>
        <option>Usher - Lemme See</option>
        <option>The Weeknd - House of Balloons</option>
        <option>Snoop Dogg - Kush</option>
    </select>
</div>

         <div class="form-group">
   	 <label for="ublock">Please select a social media to connect your account</label>
   	 <select class="form-control" name="social_media_name" id="block_type2">
   	    <option>Instagram</option>
        <option>Facebook</option>
        <option>Pinterest</option>
        <option>Tinder</option>
        <option>Spotify</option>
    </select>
</div>
            
        </div>
        <button type="update" id="btn_unfollow" class="btn btn-default">Update</button>
    </form>
    
    
    
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
                    <meta name="description" content="">
                        <meta name="author" content="">
                            <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
                            <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
                            
                            </head>
    
    <body>
        
        <div class="container">
            <h2>Followers</h2>
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" ><a href="{{ url_for('home_page') }}">Home</a></li>
                        <li role="presentation"><a href="{{ url_for('login') }}">Switch User</a></li>
                    </ul>
                </nav>
                
            </div>
            
            
            
        </div> <!-- /container -->
        </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    </body>
    
    </html>
    {% endblock %}
