<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body style="background-color:lightyellow;">
    <h1>Welcome to Unicorn, the best social media website for ITU students</h1>
      <div> Ceyda Aladağ 150130283</div>
        <div> Zeynep Öner 150150706</div>
        <div> Ozan Özcan 040100106</div>
		<div> Melis Gülenay 150120304 </div>
		<div> Songül Saraç 150120303 </div>

    <h2 style="color:purple;">This site is under construction.</h2>

    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
  
</html>
