<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>UNICORN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <header>
         <nav>
             <li><a href="{{url_for('home_page') }}">Home</a></li>
             <li><a href="{{url_for('open_profiles') }}">Profiles</a></li>
             <li><a href="{{url_for('followersfollowing') }}">Followers Following </a></li>
             <li><a href="{{url_for('notifications') }}">Notifications</a></li>
             <li><a href="{{url_for('settings') }}">Settings</a></li>
			 <li><a href="{{url_for('favorites') }}">Favorites</a></li>
         </nav>
    </header>


    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>

</html>