<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />


    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
     <style>
  .bg-1 {
      background-color: #1abc9c; /* Green */
      color: #ffffff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }

  </style>
  </head>

  <body>
  <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
          </ul>
        </nav>
      </div>
<div class="container-fluid bg-1 text-center">
  <h1>Welcome to Unicorn!</h1>
  <img src="{{ url_for('static', filename='unicorn.png') }}" class="img-circle" alt="unicorn" width="100" height="100">
</div>
    <div class="container bg-2 text-center">
  <h3>Please login</h3>
    <form class="col-lg-12" action="{{url_for('save')}}" method="POST">
    <div class="form-group">
      <label for="uname">Name:</label>
       <input class="form-control" id="name_text" name="name_text" type="text">
    </div>
    <div class="form-group">
      <label for="usurname">Surname:</label>
       <input class="form-control" name="surname_text" id="surname_text" type="text">
    </div>
    <div class="form-group">
      <label for="uusername">Please enter user name:</label>
   <input type="text" class="form-control" name="username_text"  id="username_text">

    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
       <input class="form-control" name="password_text" id="password_text" type="text">
    </div>
    <div class="form-group">
      <label for="uemail">Please enter e-mail:</label>
      <input type="text" class="form-control" name="email_text" id="email_text">
    </div>
    <div class="form-group">
      <label for="ugender">Please choose gender</label>
      <select class="form-control" name="gender" id="gender">
          <option>Male</option>
          <option>Female</option>
      </select>
    </div>
   <button type="submit" id="btn_sign" class="btn btn-default">Sign up</button>
  </form>
</div>


  </body>

</html>