{% extends "layout.html" %}
{% block title %}Movie List{% endblock %}
{% block content %}
    <h1>Movies</h1>
{% endblock %}
<h1>Songül Saraç</h1>
<h3>Notifications</h3>

<body>
<body style="background-color:orange;">
<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <td><h6>My Notifications</h6></td>
                <td><a><i class="icon-user"></i></a></td>
            </tr>
            <tr>

                <td><h6>    </h6></td>
                <td><a><i class="icon-user"></i>Likes</a></td>
            </tr>
            <tr>

                <td><h6>    </h6></td>
                <td><a><i class="icon-user"></i>Comments</a></td>
            </tr>
            <tr>

                <td><h6>    </h6></td>
                <td><a><i class="icon-user"></i>Friendship Requests</a></td>
            </tr>
            <tr>

                <td><h6>    </h6></td>
                <td><a><i class="icon-user"></i>Invitations</a></td>
            </tr>
            <tr>
                <td><h6>Following Notifications:</h6></td>
                <td><a><i class="icon-home"></i></a></td>
            </tr>

                <tr>

                <td><h6>    </h6></td>
                <td><a><i class="icon-home"></i>Likes</a></td>
            </tr>
                            <tr>

                <td><h6>    </h6></td>
                <td><a><i class="icon-home"></i>Comments</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>