<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Profile Page</title>
</head>
<body style="background-color:lightblue;">
<h1>Ceyda Aladağ</h1>
<h3>Student</h3>

<br>
<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <td><h6>Manager:</h6></td>
                <td><i class="icon-user"></i>Turgut Uyar</a></td>
            </tr>
            <tr>
                <td><h6>Office Phone:</h6></td>
                <td><i class="icon-home"></i>123456</td>
            </tr>
            <tr>
                <td><h6>Cell Phone:</h6></td>
                <td><i class="icon-headphones"></i>123123123</td>
            </tr>
            <tr>
                <td><h6>Email:</h6></td>
                <td><i class="icon-envelope"></i>aladagce@itu.edu.tr</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>