{% extends "layout.html" %}
{% block title %}Movie List{% endblock %}
{% block content %}
    <h1>Movies</h1>
{% endblock %}
<html>
<body style="background-color:lightblue;">
<h1>Ceyda Aladað</h1>
<h3>Student</h3>

<br>
<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <td><h6>Manager:</h6></td>
                <td><a><i class="icon-user"></i>Turgut Uyar</a></td>
            </tr>
            <tr>
                <td><h6>Office Phone:</h6></td>
                <td><i class="icon-home"></i>123456</td>
            </tr>
            <tr>
                <td><h6>Cell Phone:</h6></td>
                <td><i class="icon-headphones"></i>123123123</td>
            </tr>
            <tr>
                <td><h6>Email:</h6></td>
                <td><i class="icon-envelope"></i>aladagce@itu.edu.tr</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>