{% extends "layout.html" %}
{% block title %}Movie List{% endblock %}
{% block content %}
    <h1>Movies</h1>
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<title>Settings</title>
</head>

<body style="background-color:pink;">



<br>
<div class="row">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <td><h6>Privacy Settings</h6></td>
                <td><a><i class="material-icons">traffic</i>Click to edit privacy settings</a></td>
            </tr>
            <tr>
                <td><h6>Account Settings</h6></td>
                <td><i class="icon-home"></i>Click to edit account settings</td>
            </tr>
            <tr>
                <td><h6>Notification Settings</h6></td>
                <td><i class="material-icons">attachment</i></td>
            </tr>
            <tr>
                <td><h6>Contact Help Desk Email:</h6></td>
                <td><i class="icon-envelope"></i>ozcanoza@itu.edu.tr</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>