{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
  </head>
  <body>
    <div class="container">
        <h2>TAG PANEL</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
           <li role="presentation" class="active"><a href="{{ url_for('tags_edit') }}">Add a New Tag</a></li>

          </ul>
        </nav>
      </div>

   <form action="{{ url_for('tags') }}" method = "post">
  <table id="tagsTable" class="table">
	 <thead>
      <tr>
       <th>User Name</th>
        <th>Tweet</th>
        <th>Tag</th>
        <th>Tag Category</th>
        <th>Date</th>
      </tr>
    </thead>
	<tbody>
		{% for user_logname, tweet_input, tag_input, tag_category, date in tag_list %}
		<tr>
			<td class="TagsTableItem">{{user_logname}}</td>
			<td class="TagsTableItem">{{tweet_input}}</td>
			<td class="TagsTableItem">{{tag_input}}</td>
			<td class="TagsTableItem">{{tag_category}}</td>
			<td class="TagsTableItem">{{date}}</td>
			<td class="TagsTableItem"><a href="{{ url_for('tag_delete', deletetag=user_logname) }}">Delete</a>
			<td class="TagsTableItem"><a href="{{ url_for('tag_update', updatetag=user_logname) }}">Update</a>
		</tr>
		{% endfor %}
		</tbody>
	</table>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
  </head>
  <body>



    </div> <!-- /container -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>


{% endblock %}

