{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}


    <h1>Created by Ozan Özcan</h1><hr>


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />

  </head>

  <body>

    <div class="container">
        <h2>Universities</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
            <li role="presentation"><a href="{{ url_for('login') }}">Switch User</a></li>
          </ul>
        </nav>

      </div>


<!-- update code -->
<form action="{{ url_for('universities')}}" method = "post">
    <table id="universitiesTable">

    <tr>
      <th>UniversityID</th>
        <th>University</th>
      </tr>

    {% for user_id, uni_name in university_users %}
    <tr>
      <td class="UniversitiesTableItem">{{user_id}}</td>
      <td class="UnviersitiesTableItem">{{uni_name}}</td>
      <td class="UniversitiesTableItem"><a href="{{ url_for('universities_page_db_delete', deleteuni_name=uni_name) }}">Delete</a></td>
      <td class="UniverisitiesTableItem"><a href="{{ url_for('universities_page_db_update', updateuni_name=uni_name) }}">Update</a></td>
    </tr>
    {% endfor %}

    <tr>
      <td class="UniversitiesTableNewItem"> </td>
      <td class="UniversitiesTableNewItem"><input type="text" name="university" required="required"></td>
      <td class="UniversitiesTableNewItem"> </td>
      <td class="UniversitiesTableNewItem"> </td>
    </tr>
    <tr>
      <td colspan="5"><input value="Add New University" name="add" type="submit"></td>
    </tr>
    </table>
  </form>


<div class="form-group">
      <label for="usearch">SEARCH UNIVERSITY NAME:</label>
      <input type="text" class="form-control" name="uni_name_text" id="uni_name_text">
      <button type="submit" id="btn_sign" class="btn btn-default">SEARCH</button>
    </div>




    </div> <!-- /container -->
    </div>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
{% endblock %}