{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block content %}


    <h1>Created by Ozan Özcan</h1><hr>


  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />

  </head>

  <body>

    <div class="container">
        <h2>Universities</h2>
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="{{ url_for('home_page') }}">Home</a></li>
          <li role="presentation"><a href="{{ url_for('login') }}">Switch User</a></li>
          <li role="presentation" class="active"><a href="{{ url_for('universities_edit') }}">Edit University Info</a></li>
          </ul>
        </nav>

      </div>


<!-- update code -->
<form action="{{ url_for('universities')}}" method = "post">
    <table id="universitiesTable" class="table">
    <thead>
    <tr>
      <th>University ID</th>
      <th>University Name</th>
      <th>University Type</th>
      <th>Founding Date</th>
      </tr>
    </thead>
    <tbody>
    {% for uni_id, uni_name, unicity_id, unitype_id, startdate in unis %}
    <tr>
      <td class="UniversitiesTableItem">{{user_id}}</td>
      <td class="UniversitiesTableItem">{{unicity_id}}</td>
      <td class="UnviersitiesTableItem">{{uni_name}}</td>
      <td class="UnviersitiesTableItem">{{unitype_id}}</td>
      <td class="UnviersitiesTableItem">{{startdate}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>


    </div> <!-- /container -->
    </div>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>
{% endblock %}